{% extends "resume-base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
  {{ super () }}
{% endblock %}

{% block page_content %}
  <div class="container">
    <img class= "rounded-circle" src="{{ url_for('static', filename='img/dog.jpg') }}" alt="image" width="200">
    <h1 class="mt-3"><i class="fa fa-star-o" aria-hidden="true"></i> Rsume Page </h1>
    <h1 class="mt-3"><i class="fa fa-address-card" aria-hidden="true"></i> Phone Number</h1>
<!-- Styling -->
    <style>
      div {
        text-align:center;
        color:blue;
      }
    </style>
  </div>
{% endblock %}
